@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-5 bg-primary text-white text-center p-4">Welcome</h1>
    <span class="mt-5 text-danger"> 
        @* mt- Margin-Top mt, Margin-Bottom-mb, Margin-Left-ml, Margin-right-mr, Margin-Top+Bottom-my, Marting-left/right-mx
            same applies to Padding - p, pt, pb, pl, pr, px, py 

            bg-background color, 
            colors - primary, secondary, danger, warning, success, info, light, dark 
        *@
        text-danger
    </span>
    <span class="text-warning">text-warning </span>
    <span class="text-dark">text-dark </span>
    <span class="text-success">text-success </span>
    <span class="text-info">text-info</span>
    <span class="text-light">text-light</span>
    <span class="text-primary">text-primary </span>
    <span class="text-muted">text-muted </span>

    <span class="bg-danger">bg-danger</span>
    <span class="bg-warning">bg-warning </span>
    <span class="bg-dark">bg-dark </span>
    <span class="bg-success">bg-success </span>
    <span class="bg-info">bg-info</span>
    <span class="bg-light">bg-light</span>
    <span class="bg-primary">bg-primary </span>
    <br/>

    <button class="btn btn-primary">Primary</button>
    <button class="btn btn-secondary">Secondary</button>
    <button class="btn btn-info">info</button>
    <button class="btn btn-sm btn-danger">danger</button>
    <button class="btn btn-lg btn-warning">warning</button>
    <button class="btn btn-dark">dark</button>
    <button class="btn btn-outline-primary">Primary</button>
    <button class="btn btn-outline-secondary">Secondary</button>
    <button class="btn btn-outline-info">info</button>
    <button class="btn btn-sm btn-outline-danger">danger</button>
    <button class="btn btn-lg btn-outline-warning">warning</button>
    <button class="btn btn-outline-dark">dark</button>

</div>
